In [8]:
a = "hello world!!"

In [9]:
print(a)

hello world!!

In [2]:
import numpy as np 
import pandas as pd
import os


lista = []

import os
for dirname, _, filenames in os.walk('data'):
    for filename in filenames:
        lista.append(os.path.join(dirname, filename))

In [3]:
dfs = [pd.read_csv(item) for item in lista]

df = pd.concat(dfs)

In [29]:
df

,Film,Year,Script Type,Rotten Tomatoes critics,Metacritic critics,Average critics,Rotten Tomatoes Audience,Metacritic Audience,Rotten Tomatoes vs Metacritic deviance,Average audience,...,"financial source, if not The numbers",Genres,Opening Weekend ($),% of Gross earned abroad,Budget recovered,Budget recovered opening weekend,Film list here: https://www.boxofficemojo.com/year/2019/?ref_=bo_yl_table_5,Film list here: https://www.boxofficemojo.com/year/2020/?grossesOption=calendarGrosses,Film list here: https://www.boxofficemojo.com/year/2021/,film list here https://www.boxofficemojo.com/year/2022/
0,300,2007,adaptation,60,51,56,89.0,71,18,80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3:10 to Yuma,2007,remake,88,76,82,86.0,73,13,80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,30 Days of Night,2007,adaptation,50,53,52,56.0,65,-9,61,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Across the Universe,2007,original screenplay,54,56,55,82.0,73,9,78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Alien vs. Predator - Requiem,2007,sequel,14,29,22,31.0,45,-14,38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,Uncharted,2022,NaN,41,45,43,90.0,62,28,76,...,NaN,adventure,44010155,62.90%,333.91%,36.68%,NaN,NaN,NaN,NaN
88,Vengeance,2022,NaN,81,65,73,86.0,64,22,75,...,NaN,"music, mystery, thriller",1755325,2.32%,-,-,NaN,NaN,NaN,NaN
89,Violent Night,2022,NaN,73,55,64,88.0,66,22,77,...,NaN,holiday,13450240,34.65%,383.00%,67.25%,NaN,NaN,NaN,NaN
90,Where the Crawdads Sing,2022,NaN,35,43,39,96.0,65,31,81,...,NaN,"drama, mystery, thriller",17253227,33.92%,568.91%,71.89%,NaN,NaN,NaN,NaN
91,X,2022,NaN,94,79,87,75.0,66,9,71,...,NaN,"mystery, thriller",4275126,22.12%,1511.31%,427.51%,NaN,NaN,NaN,NaN

In [4]:
df = df[['Year', 'Script Type', 'Rotten Tomatoes  critics', 'Metacritic Audience ', 'Average audience ', 'Worldwide Gross ($million)', 'Budget ($million)', 'Primary Genre' ]]

In [31]:
df

,Year,Script Type,Rotten Tomatoes critics,Metacritic Audience,Average audience,Worldwide Gross ($million),Budget ($million),Primary Genre
0,2007,adaptation,60,71,80,456,65,action
1,2007,remake,88,73,80,70,50,western
2,2007,adaptation,50,65,61,75,32,horror
3,2007,original screenplay,54,73,78,29,45,musical
4,2007,sequel,14,45,38,129,40,sci-fi
...,...,...,...,...,...,...,...,...
87,2022,NaN,41,62,76,400.7,120.0,action
88,2022,NaN,81,64,75,4.4,-,comedy
89,2022,NaN,73,66,77,76.6,20.0,action
90,2022,NaN,35,65,81,136.5,24.0,romance
91,2022,NaN,94,66,71,15.1,1.0,horror

In [32]:
df['Script Type'].unique()

array(['adaptation', 'remake', 'original screenplay', 'sequel',
       'based on a true story', 'documentary', 'sequel, adaptation',
       'remake / reboot', 'remake / reboot, adaptation', 'sequel ',
       'based on a true story ', 'adaptation, remake / reboot',
       'original screenplay ', 'based on a true story, adaptation',
       'prequel', 'adaptation, based on a true story',
       'adaptation, sequel', 'semi-sequel',
       'based on a true story, remake', nan], dtype=object)

In [5]:
col = df.columns.get_loc('Script Type')

df['Script Type'] = df['Script Type'].fillna('unknown')

for i in range(len(df)):
    value = df.iloc[i, col]

    if 'original screenplay' in value:
        value = 'original'
    elif 'sequel ' in value:
        value = 'sequel'
    elif 'true story' in value or 'true story' in value:
        value = 'real'
    elif 'remake' in value:
        value = 'remake'
    elif 'adaptation' in value:
        value = 'adaptation'
    elif 'prequel' in value:
        value = 'prequel'
    else:
        value = 'unknown'

    df.iloc[i, col] = value

df['Script Type'].unique()

array(['adaptation', 'remake', 'original', 'unknown', 'real', 'sequel',
       'prequel'], dtype=object)